<!-- 
    
    Badge - a small status descriptor (notifications, unread inbox msgs) for UI element 

-->

<div><span matBadge="5">Notifications</span></div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<input [disabled]="condition ? true : false" />
<input [attr.disabled]="condition ? 'disabled' : null" />
