<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<br /><br />

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<br /><br />

<div class="mat-headline">This is equal to h1</div>
<div class="mat-title">This is equal to h2</div>
<div class="mat-subheading-2">This is equal to h3</div>
<div class="mat-subheading-1">This is equal to h4</div>

<br /><br />

<div class="mat-typography">
  <!-- original Headings -->
  <h1>This is equal to h1</h1>
  <h2>This is equal to h2</h2>
  <h3>This is equal to h3</h3>
  <h4>This is equal to h4</h4>
</div>
